h1{
  text-align: center;
  font:400 80px/1.1 'Arizonia', Helvetica, sans-serif; 
  text-shadow:2px 2px 0px ;
  color: #2779BD;
}

.menu{
  font-size: 30px;
}

ul {
  font-family: colonna mt;
  list-style-type: none;
  margin: 0;
  padding-right: 20px;
  padding-left: 250px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2F365F;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #2779BD;
}

.first{
  text-align: justify;
  float: right;
  margin-right: 300px;
}

input{
  padding: 12px;
}

.second{
  width: 100%;
}

button{
  padding: 10px 15px;
}

.btn{
  float: left;
  margin-left: 280px;
  margin-top: 50px;
}

.fa {
  padding: 3px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

 #map{
  width: 400px;
  height: 400px;
}